.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 34px;
  @media screen and (min-width: 1024px) {
    padding-bottom: 64px;
  }
}

.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  width: 330px;
  height: fit;
  /* height: 100% !important; */
  /* min-height: 100% !important; */
  @media screen and (min-width: 1024px) {
    width: 978px;
  }
  @media screen and (min-width: 1920px) {
    width: 1252px;
  }
}

.swiper-wrapper {
  align-items: stretch !important;
}

.catalog-page-slider .swiper-wrapper {
  align-items: flex-start !important;
}

.swiper-slide {
  flex-grow: 1 0;
  height: auto !important;
}

.swiper-pagination {
  bottom: 2px !important;
}

.swiper-pagination-bullet {
  background: var(--lightGrey);
  opacity: 100%;
}

.swiper-pagination-bullet-active {
  background: var(--yellow);
  opacity: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

.swiper-button-prev {
  left: calc(50% - 165px);
  @media screen and (min-width: 1024px) {
    left: calc(50% - 289px);
  }
  @media screen and (min-width: 1550px) {
    left: calc(50% - 489px);
  }
  @media screen and (min-width: 1920px) {
    left: calc(50% - 626px);
  }
  right: auto;
  top: 100%;
  transform: translateY(0%);
}

.swiper-button-next {
  right: calc(50% - 165px);
  @media screen and (min-width: 1024px) {
    right: calc(50% - 289px);
  }
  @media screen and (min-width: 1550px) {
    right: calc(50% - 489px);
  }
  @media screen and (min-width: 1920px) {
    right: calc(50% - 626px);
  }
  left: auto;
  top: 100%;
  transform: translateY(0%);
}

.swiper-button-prev::after {
  content: "" !important;
  display: flex;
  width: 100% !important;
  height: 100% !important;
  background-image: url("/images/icons/polygonLeft.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-next::after {
  content: "" !important;
  display: flex;
  width: 100% !important;
  height: 100% !important;
  background-image: url("/images/icons/polygonRight.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.addons-slider.swiper {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.addons-slider .swiper-button-prev {
  left: 0px;
}

.addons-slider > .swiper-button-next {
  right: 0px;
}
