NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_DATOCMS_API_TOKEN=
NEXT_PUBLIC_TELEGRAM_URL_API=
NEXT_PUBLIC_TELEGRAM_CHAT_ID=
NEXT_PUBLIC_GOOGLE_SERVICE_PRIVATE_KEY=
GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_EMAIL=
NEXT_PUBLIC_SPREADSHEET_ID=
NEXT_PUBLIC_NOVA_POSHTA_API_KEY=