NEXT_PUBLIC_BASE_URL=
DATOCMS_API_TOKEN=
TELEGRAM_URL_API=
TELEGRAM_CHAT_ID=
GOOGLE_SERVICE_PRIVATE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_EMAIL=
SPREADSHEET_ID=
NOVA_POSHTA_API_KEY=
MERCHANT_ACCOUNT=
MERCHANT_SECRET_KEY=
MERCHANT_DOMAIN=
CRM_API_KEY=
NEXT_PUBLIC_GTM_ID=