@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --dark: #191919;
  --yellow: #ffb300;
  --lightGrey: #d9d9d9;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
  scrollbar-gutter: stable;
}

body {
  overflow-x: hidden;
  color: var(--dark);
  background: var(--white);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

/* ul {
  list-style: none;
} */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .popup-scroll::-webkit-scrollbar-track {
    margin-top: 15px;
    margin-bottom: 15px;
    @media screen and (min-width: 1280px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .range-thumb {
    transform: translate(-50%, -50%) scale(1) !important;
  }
}
