@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;
  --yellow: #ffb300;
  --lightGrey: #d9d9d9;
  scrollbar-gutter: stable;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

body {
  overflow-x: hidden;
  color: var(--black);
  background: var(--white);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
